{% extends 'pages/base.html' %}

{% block title %}
    Category
{% endblock %}

{% block name %}
    Category
{% endblock %}

{% block body %}

    <p>Info</p>

{% endblock %}

    
<!-- 
{% for i in nout_list %}
        {% if i.boolean %}
            <h2>Առկա է</h2>
            <h1>{{ i.name }}</h1>
            <img src="{{ i.img.url }}" width="300px" alt="">
            <h4>{{ i.price }}</h4>
            <video src="{{ i.video.url }}" width="200px" autoplay controls></video>
            <p>{{ i.email }}</p>
            <a href="{{ i.link }}"><Button>link for {{ i.name }}</Button></a>
            <p>{{ i.date }}</p>
        {% else %}
            <h2>Առկա չէ զանգահարել</h2>
            <h1>{{ i.name }}</h1>
            <img src="{{ i.img.url }}" width="300px" alt="">
            <h4>{{ i.price }}</h4>
            <video src="{{ i.video.url }}" width="200px" autoplay controls></video>
            <p>{{ i.email }}</p>
            <a href="{{ i.link }}"><Button>link for {{ i.name }}</Button></a>
            <p>{{ i.date }}</p>
        {% endif %}
        <hr>
    {% endfor %} -->


    
